<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="card mb-0 shadow">
                <div class="card-header py-3 ">
                    <h3 class="m-0 font-weight-bold text-theme ">Add Category Details</h3>
                </div>
                <div class="card-body" style="padding: 40px;">

                    {{#if isCategoryadded}}
                    <div class="style-msg successmsg" id="success">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Well done!</strong> You Successfully
                            Added the Category</div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>

                    {{/if}}

                    <form id="category" name="category" class="row mb-0" action="/admin/category_add" method="post">
                       
                        <div class="col-12 form-group">
                            <label for="cat_name">Category Name:</label>
                            <input type="text" id="cat_name" name="cat_name" value="{{category.cat_name}}"
                                class="form-control" required>
                        </div>
                      
                      
                        <div class="col-12 form-group mt-2">
                            <button type="submit" class="button button-3d bg-color  m-0" 
                                >Add Category</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</section>


