<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        <div class="section bg-transparent min-vh-100 p-0 m-0">
            <div class="vertical-middle">
                <div class="container-fluid py-5 mx-auto">
                    <div class="card mx-auto rounded-0 shadow"
                        style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                        <div class="card-header font-weight-bold bg-color text-white"> Change Password Here </div>
                        <div class="card-body">
                            <form id="change-password-form" name="login-form" class="mb-0" action="change_password"
                                method="post">
                                {{#if admin_details.admin_message}}
                                <p class=" text-danger">{{admin_details.admin_message}}</p>
                                {{/if}}
                                <div class="row">
                                    <input type="hidden" id="admin_id" name="admin_id"
                                        value="{{admin_details.admin_id}}">
                                    <div class="col-12 form-group">
                                        <label for="old_password">Old Password</label>
                                        <input type="text" id="old_password" name="old_password" value=""
                                            class="form-control not-dark" required />
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="new_password">New Password:</label>
                                        <input type="password" id="new_password" name="new_password" value=""
                                            class="form-control not-dark" required />
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="confirm_password">Confirm Password:</label>
                                        <input type="password" id="confirm_password" name="confirm_password" value=""
                                            class="form-control not-dark" required />
                                    </div>

                                    <div class="col-12 form-group text-center pt-4">

                                        <button type="submit" class="button button-3d button-black m-0"
                                            id="login-form-submit">Change Password</button>
                                        {{!-- <a href="#" class="float-right">New Customer? Start Here</a> --}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section><!-- #content end -->


<script>
    $(document).ready(function () {
        // Specify validation rules
        $("#change-password-form").validate({
            rules: {
                old_password: {
                    required: true
                },
                new_password: {
                    required: true
                },
                confirm_password: {
                    equalTo: "#new_password"
                }
            },
            messages: {
                old_password: {
                    required: "Please enter your old password",
                },
                new_password: {
                    required: "Please enter your new password",
                },
                confirm_password: {
                    equalTo: "Passwords Doesn't Match",
                },
            }
        });
        // we cancel the normal submission of the form    
        return false;
    });

</script>