<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="card mb-0 shadow">
                <div class="card-header py-3 ">
                    <h3 class="m-0 font-weight-bold text-theme ">Add vendor Details</h3>
                </div>
                <div class="card-body" style="padding: 40px;">

                    {{#if vendor_message}}
                    <div class="style-msg successmsg" id="success">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Well done!</strong> {{vendor_message}}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>

                    {{/if}}

                    <form id="vendor" name="vendor" class="row mb-0" action="/admin/vendor_add" method="post"
                        enctype="multipart/form-data">

                        <div class="col-12 form-group">
                            <label for="ven_name">Name:</label>
                            <input type="text" id="ven_name" name="ven_name" value="{{vendor.ven_name}}"
                                class="form-control" >
                                <span class="text-danger alert_name" id="alert_name"></span>
                        </div>
                        <div class="col-12 form-group">
                            <label for="ven_shop_name">Shop Name:</label>
                            <input type="text" id="ven_shop_name" name="ven_shop_name" value="" class="form-control" >
                            <span class="text-danger" id="alert_shop"></span>
                        </div>



                        <div class="col-12 form-group">
                            <label for="ven_phone">Phone:</label>
                            <input type="text" title="Enter a vaild Phone Number(10 digits)" pattern="[1-9]{1}[0-9]{9}"
                                id="ven_phone" name="ven_phone" value="" class="form-control" >
                             <span class="text-danger" id="alert_phone"></span>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_email">Email Address:</label>
                            <input type="text" id="ven_email" name="ven_email" value="" class="form-control" >
                            <div id="email_error" style="color:red;display:none">
                                <p>Email Already Registered</p>                                
                            </div>
                             <span class="text-danger" id="alert_email"></span>
                            <div id="email_success" style="color:red;display:none">Email Available</div>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_password">Choose a Password:</label>                           
                            <input type="password" name="ven_password" id="ven_password" class="form-control  demoInputBox" onKeyUp="checkPasswordStrength();" />
                            <div id="password-strength-status" class="text-primary"></div>
                           
                        </div>

                        <div class="col-12 form-group">
                            <label for="confirm_password">Re-enter Password:</label>
                            <input type="password" id="confirm_password" name="confirm_password" value="" 
                                class="form-control">
                          
                             <span id='message' class="text-danger"></span>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_image">Image</label>
                            <input type="file" class="form-control" name="ven_image" id="ven_image" placeholder="Image">
                              <span class="text-danger" id="alert_image"></span>    
                        </div>

                        <div class="col-12 form-group mt-2">
                            <button type="submit" class="button button-3d bg-color  m-0" id="ven-submit"
                                name="ven-submit" value="register">Add Vendor</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</section>


<!--Calling Function for  Checking Email Exist or Not
============================================= -->
<script>

    $("#ven_email").keyup(function () {

        var email = $('#ven_email').val();

        if (!email == "") {
            $.ajax({
                type: 'post',
                url: '/admin/vendor_email_check?action=check',
                data: 'ven_email=' + email,

                success: function (response) {

                    if (response.add_failed == "true") {
                        

                        document.getElementById('email_error').style.display = "block";
                        $('#ven_email').val("");

                    }
                    else {
                        document.getElementById('email_error').style.display = "none";
                    }
                }
            })
        }

    });


    $('#confirm_password').on('keyup', function () {
        if ($('#ven_password').val() == $('#confirm_password').val()) {
            $('#message').html('').css('color', 'green');
        } else
            $('#message').html('Passwords must match').css('color', 'red');
    });

   
    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if($('#ven_password').val().length<6) {
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('weak-password');
        $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
        } else {  	
        if($('#ven_password').val().match(number) && $('#ven_password').val().match(alphabets) && $('#ven_password').val().match(special_characters)) {            
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('strong-password');
        $('#password-strength-status').html("Strong");
        } else {
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('medium-password');
        $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
        }}}




</script>
<script>
   
  $( "#vendor" ).submit(function( event ) {
  var ven_email = $('#ven_email').val();
     
        if ($("#ven_name").val() == "") {
            $(".alert_name").text("Please Enter Your Name").show().fadeOut(5000);
            $("#ven_name").focus();
            return false
        }
        if($("#ven_shop_name").val() == "") {
            
            $("#alert_shop").text("Please Enter Your Shop Name").show().fadeOut(5000);
            $("#ven_shop_name").focus();
            return false
        }
        if($("#ven_phone").val() == "") {
            $("#alert_phone").text("Please Enter Your Phone Number").show();
            $("#ven_phone").focus();
            $("#alert_phone").text == ""

            return false
        }
        if($("#ven_email").val() == "") {
            $("#alert_email").text("Please Enter Your Email").show().fadeOut(5000);
            $("#ven_email").focus();
            return false
        }
        if(IsEmail(ven_email)==false){
            $("#alert_email").text("Please Enter a Valid Email Address").show().fadeOut(9000);
            $("#ven_email").focus();
            return false
        }
        if($("#ven_password").val() == "") {
            $("#alert_password").text("Please Enter Your Password").show().fadeOut(5000);
            $("#ven_password").focus();
            return false
        }
        if($("#confirm_password").val() == "") {
            $("#message").text("Please Re-Enter Your Password").show().fadeOut(5000);
            $("#confirm_password").focus();
            return false
        }
       
        if ($('#ven_image').get(0).files.length === 0){
             $("#alert_image").text("Please Upload Image").show().fadeOut(5000);
            $("#confirm_password").focus();
            return false
        }
        return true;
       // event.preventDefault();
});

function IsEmail() {
       
    var ven_email = $('#ven_email').val();
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(!regex.test(ven_email)) {              
        return false;
    }else{
        return true;
    }
}
</script>