<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="card mb-0 shadow">
                <div class="card-header py-3 ">
                    <h3 class="m-0 font-weight-bold text-theme ">Add vendor Details</h3>
                </div>
                <div class="card-body" style="padding: 40px;">

                    {{#if vendorSignupSuccess}}
                    <div class="style-msg successmsg" id="success">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Well done!</strong> You Successfully
                            Added the Vendor</div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>

                    {{/if}}

                    <form id="vendor" name="vendor" class="row mb-0" action="/admin/vendor_add" method="post"
                        enctype="multipart/form-data">

                        <div class="col-12 form-group">
                            <label for="ven_name">Name:</label>
                            <input type="text" id="ven_name" name="ven_name" value="{{vendor.ven_name}}"
                                class="form-control" required>
                        </div>
                        <div class="col-12 form-group">
                            <label for="ven_shop_name">Shop Name:</label>
                            <input type="text" id="ven_shop_name" name="ven_shop_name" value="" class="form-control"
                                required>
                        </div>



                        <div class="col-12 form-group">
                            <label for="ven_phone">Phone:</label>
                            <input type="text" title="Enter a vaild Phone Number(10 digits)" pattern="[1-9]{1}[0-9]{9}"
                                id="ven_phone" name="ven_phone" value="" class="form-control" required>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_email">Email Address:</label>
                            <input type="email" id="ven_email" name="ven_email" value="" class="form-control" required>
                            <div id="email_error" style="color:red;display:none">
                                <p>Email Already Registered</p>
                            </div>
                            <div id="email_success" style="color:red;display:none">Email Available</div>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_password">Choose a Password:</label>
                            <input type="password" id="ven_password" name="ven_password" value="" class="form-control"
                                required>
                        </div>

                        <div class="col-12 form-group">
                            <label for="confirm_password">Re-enter Password:</label>
                            <input type="password" id="confirm_password" name="confirm_password" value="" required
                                class="form-control">
                            <span id='message'></span>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_image">Image</label>
                            <input type="file" class="form-control" name="ven_image" id="ven_image" placeholder="Image"
                                required>
                        </div>

                        <div class="col-12 form-group mt-2">
                            <button type="submit" class="button button-3d bg-color  m-0" id="ven-submit"
                                name="ven-submit" value="register">Add Ventor</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</section>


<!--Calling Function for  Checking Email Exist or Not
============================================= -->
<script>

    $("#ven_email").keyup(function () {
       
        var email = $('#ven_email').val();

        if (!email == "") {
            $.ajax({
                type: 'post',
                url: '/admin/vendor_email_check?action=check',
                data: 'ven_email=' + email,
          
                success: function (response) {
                
                    if (response.add_failed == "true") {

                        document.getElementById('email_error').style.display = "block";                        
                        $('#ven_email').val("");

                    }
                    else {                      
                        document.getElementById('email_error').style.display = "none";                        
                    }
                }
            })
        }
        
    });
    $('#confirm_password').on('keyup', function () {
        if ($('#ven_password').val() == $('#confirm_password').val()) {
            $('#message').html('').css('color', 'green');
        } else
            $('#message').html('Passwords must match').css('color', 'red');
    });
</script>