<!-- Header
		============================================= -->

<header id="header" class="transparent-header " data-sticky-shrink="false">
	<div id="header-wrap">
		<div class="container">
			<div class="header-row justify-content-lg-between">

				<!-- Logo
				============================================= -->
				<div id="logo" class="col-auto mr-lg-0 order-lg-2">
					<a href="/" class="standard-logo"><img src="/images/logo.png" alt=" Logo"></a>
					<a href="/" class="retina-logo"><img src="/images/logo@2x.png" alt=" Logo"></a>
				</div><!-- #logo end -->
				<div class="header-misc">

					<!--Login
					============================================= -->
					<div id="top-account">
						{{!-- <a href="#modal-register" data-lightbox="inline"> --}}
						<a href="/login" data-lightbox="inline">
							<i class="icon-line2-user mr-1 position-relative" style="top: 1px;"></i>
							<span class="d-none d-sm-inline-block font-primary font-weight-medium">Login</span></a>
					</div><!-- #top-search end -->

					<!-- Top Cart
					============================================= -->
					<div id="top-cart" class="header-misc-icon d-none d-sm-block ">
						<a href="#" id="top-cart-trigger"><i class="icon-line-bag"></i><span
								class="top-cart-number">5</span></a>

					</div><!-- #top-cart end -->


				</div>

				<div id="primary-menu-trigger">
					<svg class="svg-trigger" viewBox="0 0 100 100">
						<path
							d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
						</path>
						<path d="m 30,50 h 40"></path>
						<path
							d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
						</path>
					</svg>
				</div>

				<!-- Primary Navigation
						============================================= -->
				<nav class="primary-menu col-lg-4 order-lg-1">

					<ul class="menu-container">
						<li class="menu-item"><a class="menu-link" href="">
								<div>Home</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="">
								<div>About</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="">
								<div>Our Bakers</div>
							</a></li>
					</ul>

				</nav>

				<nav class="primary-menu col-lg-4 order-lg-3">

					<ul class="menu-container justify-content-lg-end">
						<li class="menu-item"><a class="menu-link" href="">
								<div>Gallery</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="">
								<div>Contact</div>
							</a></li>
						{{!-- <li class="menu-item"><a class="menu-link color" href="/login"><div>Login</div></a></li> --}}
					</ul>

				</nav><!-- #primary-menu end -->

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header><!-- #header end -->