{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
<section id="slider" class="slider-element min-vh-60 min-vh-md-100  error404-wrap include-header bg-dark">
    <div class="slider-inner">

        <div class="vertical-middle">
            <div class="container text-center py-5 py-md-0">

                <div class="error404">404</div>

                <div class="heading-block border-bottom-0">
                    <h4 class="text-white">{{title}}</h4>

                    <a href="/">Back to Pages</a>
                </div>


            </div>
        </div>

    </div>
</section>