
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">
        <div class="section  p-0 m-0 h-100 position-absolute"></div>
        <div class="section p-0 m-0 h-100 position-absolute" style="background: url('/images/common/common-bg.jpg') center center no-repeat; background-size: cover; 
			background-attachment: fixed;filter: brightness(.5);">
        </div>
        <div class="section bg-transparent min-vh-100 p-0 m-0 d-flex">
            <div class="vertical-middle">
                <div class="container ">
                    <div class="text-center">
                        <a href="/"><img src="/images/logo-dark.png" alt=" Logo" style="height: 90px;"></a>
                    </div>
                    <div class="card mx-auto rounded-2 border-1 hub-sign ">
                        <div class="card-body">
                            <form id="forget-password-form" name="forget-password-form" class="mb-0" action="/forget_password" method="post">
                                <p class="font-weight-normal text-white-50"> Please enter your email address below
                                    and we will send you information to change your password.</p>
                                {{#if userMessage}}
                                <p class="text-warning">{{this.userMessage}}</p>
                                {{/if}}
                                <div class="row align-items-center forms-section">
                                    <div class="col-12 form-group mb-4  has-error">
                                        <input type="email" name="email" id="email" autocomplete="off"
                                            class="form-control form-control-lg required" value="" 
                                            placeholder="user@company.com">
                                    </div>
                                    <div class="col-12 d-flex form-group">
                                        <button type="submit" 
                                            class="hub-btn">Continue</button>
                                    </div>
                                    <div class="col-12 form-group">
									<div class="clearfix text-center">
										<a class="color-link ml-auto" href="/user_login">Back To Login</a>
									</div>
								</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->

<script>
// Specify validation rules
    $("#forget-password-form").validate({
     rules: {
        email: {
            email: true,
            required:true
        },
      },
      messages: {
       email: {
            email: "Please Enter Valid Email",
            required:""
        },
      }

    });

</script>