<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap py-0">

		<div class="section  p-0 m-0 h-100 position-absolute"></div>
		<div class="section p-0 m-0 h-100 position-absolute" style="background: url('/images/common/common-bg.jpg') center center no-repeat; background-size: cover; 
			background-attachment: fixed;filter: brightness(.5);">
		</div>

		<div class="section bg-transparent min-vh-100 p-0 m-0 d-flex ">
			<div class="vertical-middle">
				<div class="container ">
					<div class="text-center">
						<a href="/"><img src="/images/logo-dark.png" alt=" Logo" style="height: 90px;"></a>
					</div>
					<div class="card mx-auto rounded-2 border-1 hub-sign col-md-6 col-sm-12">
						<div class="card-body col-sm-12">
							<form id="login-form" name="login-form" class="mb-0" action="/user_login" method="post">
								<h3 class="m-3">Login to your Account</h3>
								{{#if userMessage}}
								<span class=" text-danger">{{userMessage}}</span><br><br>
								{{/if}}
								<div class="row">
									<div class="col-12 form-group has-error">
										<input type="text" id="email" name="email" value="ashitha@gmail.com"
											class="form-control not-dark" placeholder="Email/Mobile" />
									</div>
									<div class="col-12 form-group has-error">
										<input type="password" id="password" name="password" value="ashitha"
											class="form-control not-dark" placeholder="Password" />
									</div>
									<div class="col-12 form-group mb-0">
										<button type="submit" class="sign-button hub-btn">Login</button>
									</div>
								</div>
							</form>
							<div class="divider divider-rounded divider-center m-2">
								<span class="text-theme">or login with</span>
							</div>
							{{#if error}}
							<p class="text-danger font-size-13">{{error}}</p>
							{{/if}}
							<form method="post" action="step2" id="login-otp-form" name="login-otp-form">
								<div class="row">
									<div class="col-12 form-group has-error">
										<input type="tel" name="number" id="number"
											class="form-control text-black not-dark" placeholder=""
											autocomplete="off" />
										<div id="phone_error" class="text-danger" style="font-size: 14px;"></div>
									</div>
									<div class="col-12 form-group">
										<input type="submit" id="btn-submit" class="sign-button hub-btn"
											value="Send code" />
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix">
										<a class="color-link" href="/signup">Sign up</a>
										<a class="float-right color-link" href="/forget_password">Forgot your password
											?</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->



<script>
	$(document).ready(function () {

		// Specify validation for login 
		$("#login-form").validate({
			rules: {
				email: {
					required: true
				},
				password: {
					required: true,
				},
			},
			messages: {
				email: {
					required: "",
				},
				password: {
					required: ""
				},
			},
		});


		// Specify validation for login with otp
		$("#login-otp-form").validate({
			rules: {
				number: {
					required: true,
					digits: true
				},
			},
			messages: {
				number: {
					required: "Please enter a  phone number",
					digits: "Please enter a valid phone number ",
				},
			}
		});



		$('#login-otp-form').submit(function () {
			var phone = $('#number').val();
			if (!phone == "") {
				$.ajax({
					type: 'post',
					url: '/phone_check',
					data: 'phone=' + phone,
					// we set the context to the form so that inside
					// the success callback 'this' points to the form
					context: this,
					success: function (response) {
						if (response.add_failed == "true") {
							this.submit();
						} else {
							$("#phone_error").html("We Cannot find an Account in this Number!");
							$('#number').focus();
						}
					}
				});
			}
			// we cancel the normal submission of the form    
			return false;
		});


	});


</script>