<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">
        <div class="section  p-0 m-0 h-100 position-absolute"></div>
        <div class="section p-0 m-0 h-100 position-absolute" style="background: url('/images/common/common-bg.jpg') center center no-repeat; background-size: cover; 
			background-attachment: fixed;filter: brightness(.5);">
        </div>
        <div class="section bg-transparent min-vh-100 p-0 m-0 d-flex">
            <div class="vertical-middle">
                <div class="container ">
                    <div class="text-center">
                        <a href="/"><img src="/images/logo-dark.png" alt=" Logo" style="height: 90px;"></a>
                    </div>
                    <div class="card mx-auto rounded-2 border-1 hub-sign ">
                        <div class="card-header">
                              <h2 class="subtitle text-white">Change Password Here </h2> 
                        </div>
                        <div class="card-body">
                             <form id="change-password-form" name="login-form" class="mb-0" action="/reset_password"
                                method="post">
                             
                               
                                {{#if userMessage}}
                                <p class="text-danger">{{this.userMessage}}</p>
                                {{/if}}
                                <div class="row">
                                    <input type="hidden" id="token" name="token" value="{{this.token}}">
                                    <div class="col-12 form-group has-error">
                                        <label for="new_password" class="text-white-50">New Password:</label>
                                        <input type="password" id="new_password" name="new_password" value=""
                                            class="form-control not-dark" required />
                                    </div>
                                    <div class="col-12 form-group has-error">
                                        <label for="confirm_password" class="text-white-50">Confirm Password:</label>
                                        <input type="password" id="confirm_password" name="confirm_password" value=""
                                            class="form-control not-dark" required />
                                    </div>
                                    <div class="col-12 form-group text-center pt-4">
                                        <button type="submit" class="hub-btn"
                                            id="login-form-submit">Change Password</button>
                                        {{!-- <a href="#" class="float-right">New Customer? Start Here</a> --}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->


<script>
    $(document).ready(function () {
        // Specify validation rules
        $("#change-password-form").validate({
            rules: {

                new_password: {
                    required: true
                },
                confirm_password: {
                    equalTo: "#new_password"
                }
            },
            messages: {
                new_password: {
                    required: "Please enter your new password",
                },
                confirm_password: {
                    equalTo: "Passwords Doesn't Match",
                },
            }
        });
        // we cancel the normal submission of the form    
        return false;
    });
</script>

